This is the sheet for computing Zopa's business case, in which we have to give a borrower the lowet interest rate possible based on a pool of assets that the company manages.

In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("Documents/Zopa_data.csv")

In [51]:
pd.read_csv("Documents/Zopa_data.csv").sort_values(by="Rate")

   Lender   Rate  Available
1    Jane  0.069        480
2    Fred  0.071        520
6  Angela  0.071         60
5    Dave  0.074        140
0     Bob  0.075        640
4    John  0.081        320
3    Mary  0.104        170

In [68]:
def interest_giver (x,y):
    if y < 1000 or y > 15000:
        return "The loan amount should be between 1000 and 15000"
    elif y % 100 != 0:
        return "The loan amount must be a multiple of 100"
    elif y > sum(x["Available"]):
        return "Your loan could not be processed, not enough funds"
    else:
        min_rate = min(x["Rate"])
        x = x.sort_values(by = "Rate")
        suma = 0
        i = 0
        rates = []
        while suma < y:
            suma += x.iloc[i,2]
            rates.append(x.iloc[i,1])
            i += 1
        excess = suma - y
        ponderado = (x.iloc[i-1,2] - excess)*(x.iloc[i-1,1])
        for n in range(0,i-1):
            ponderado += x.iloc[n,1]*x.iloc[n,2]
        interest_rate = ponderado/y
        return interest_rate

In [69]:
interest_giver (data, 1300)

0.07089230769230769

In [ ]:
for n in range(0,i-2):
            ponderado += x.iloc[n,1]*x.iloc[n,2]
        interest_rate = ponderado/y
        return interest_rate